<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="subpage-banner about">
      <div class="contents">
          <h2 class="title_bar center">About</h2>
          <p>My name Cheongwoo Kim. I am WebDesigner & Student.</p>
      </div>
  </div>
  <div class="main-contents">
      <div class="our-story">
          <div class="story-img">our story image</div>
          <div class="story-contents">
              <div class="contents">
                  <h2 class="section_tt title_bar left">Poker story</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                       Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a
                         type specimen book
                  </p>

                      </div>
          </div>
          <div class="do-img">what i do image</div>
          <div class="do-contents">
              <div class="contents">
                  <h2 class="section_tt title_bar left">What i do?</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                       Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a
                         type specimen book
                  </p>
                      </div>
          </div>
      </div>
      <div class="people-says">
          <div class="testimonial-slides swiper-container">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                      <div class="contents">
                          <h2 class="title_bar center">People says</h2>
                          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                               Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a
                                 type specimen book
                          </p>
                          <div class="reviewer">
                              <img src="images/reviewer-01.jpg" alt="kcw" class="icon">
                              <h4>kcw</h4>
                              <p>Designer at Hostro Inc.</p>
                          </div>
                      </div>
                    
                </div><!-- //slide --> 
                <div class="swiper-slide">
                  <div class="contents">
                      <h2 class="title_bar center">People says</h2>
                      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                           Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a
                             type specimen book
                      </p>
                      <div class="reviewer">
                          <img src="images/reviewer-01.jpg" alt="kcw" class="icon">
                          <h4>kcw</h4>
                          <p>Designer at Hostro Inc.</p>
                      </div>
                  </div>
                
            </div><!-- //slide --> 
            <div class="swiper-slide">
              <div class="contents">
                  <h2 class="title_bar center">People says</h2>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                       Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a
                         type specimen book
                  </p>
                  <div class="reviewer">
                      <img src="images/reviewer-01.jpg" alt="kcw" class="icon">
                      <h4>kcw</h4>
                      <p>Designer at Hostro Inc.</p>
                  </div>
              </div>
            
        </div><!-- //slide --> 
              </div>
            
              <!-- If we need navigation buttons -->
              <div class="swiper-button-prev">
                  <span class="sprite big-arrow-left">prev btn</span>
              </div>
              <div class="swiper-button-next">
                  <span class="sprite big-arrow-right">next btn</span>
              </div>
            </div>
      </div>
      <div class="help"></div>
  </div>
      <div class="footer">
          <ul class="footer_menu">
              <li><a href="">Poker</a></li>
              <li><a href="">Poker</a></li>
              <li><a href="">Poker</a></li>
              <li><a href="">Poker</a></li>
              <li><a href="">Poker</a></li>
              <li><a href="">Poker</a></li>
          </ul>
          <ul class="social_menu">
              <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
              <li><a href=""><i class="fab fa-instagram"></i></a></li>
              <li><a href=""><i class="fab fa-twitter"></i></a></li>
          </ul>
          <p class="copyright">ⓒ2021 Gamble. All Right Reserved.</p>
      </div><!--//footer-->
  <a href="#" class="back_to_top about_btt">
      <span class="sprite big_arrow_up">back to top</span>
  </a>
  </body>
</html>